@import url(reset.css);
@import url(fonts.css);

:root {
    --completed: #F5E3DC;
    --turningOn: #EAF9E8;
    --inProcess: #E2ECF4;
    --icon: #93A2B8;
    --main: #0D63F3;
    --cancel: #E16D65;
}

/* global */

body {
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins-Medium";
}

.none {
    display: none;
}

.container {
    max-width: 942px;
    padding: 0 15px;
    margin: 0 auto;
}

.container__lg {
    max-width: 1920px;
    background-color: var(--main);
    margin: 0 auto;
    border-radius: 0px 0px 43px 43px;
    padding: 24px 20px;
    position: relative;
}


/* HEADER */
.header {
    color: #FFF;

}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation__list {
    display: flex;
    gap: 146px;
}

.navigation__item {}

.navigation__link {
    color: inherit;
    text-decoration: none;
}

.navigation__link--active {
    color: rgba(255, 255, 255, 0.66)
}

.user {
    position: absolute;
    display: flex;
    align-items: center;
    right: 43px;
    top: 17px;
}

.user__icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(../image/image\ 1.png);
}

.user__mail {
    margin: 0px 16px 0px 8px;
}

.user__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__out {}

/* main */
.main {
    padding: 33px 0 67px 0;
}

.main__title {
    font-family: "Inter-SemiBold";
    font-size: 25px;
    line-height: 28px;
    text-align: center;
}

.container {}

.form__wrapper {
    margin-top: 38px;
    display: flex;
    gap: 146px;
}

.content__wrapper {
    width: 398px;
}

.content__wrapper--left label {
    display: block;
}

.content__wrapper--left label+label {
    margin-top: 38px;
}

input::placeholder {
    color: #BCBEC0;
    font-family: "Inter-Regular";
}

.date {
    display: flex;
    gap: 19px;
}

.date label input {
    color: #BCBEC0;
    font-family: "Inter-Regular";
}

.content__wrapper--left label input {
    width: 100%;
    padding: 16px 19px;
    border-radius: 5px;
    border: 1px solid #E6E7E8;
}

.content__wrapper--left label span {
    display: inline-block;
    margin-left: 6px;
    margin-bottom: 9px;
}

.access-event {
    margin-bottom: 48px;
}

.access-event label {
    display: flex;
    align-items: center;
    gap: 19px;
}

.access-event label {
    margin-top: 15px;
}

.access-event label+label {
    margin-top: 20px;
}

.access-event input {
    display: none;
}

.fake-radio {
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid var(--main);
    position: relative;
}

.fake-radio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--main);
    opacity: 0;
    transition: 0.1s;
    border-radius: 50%;
}

.access-event input:checked+.fake-radio::before {
    opacity: 1;
}

.checbox-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E7E8;
}

.checbox-label input {
    display: none;
}

.checbox-label+.checbox-label {
    margin-top: 20px;
}

.checbox-label {
    cursor: pointer;
}

.fake-checkbox {
    position: relative;
    width: 41px;
    height: 25px;
    border-radius: 41px;
    background-color: rgba(120, 120, 128, 0.32);
    ;
}

.fake-checkbox::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    height: 21px;
    width: 21px;
    background-color: #FFF;
    border-radius: 50%;
}

.checbox-label input:checked+.fake-checkbox {
    background-color: #5DB075
}

.checbox-label input:checked+.fake-checkbox::before {
    left: 18px;
}

.download-file {
    margin: 43px 0 42px;
}

.download-file p {
    margin-bottom: 14px;
}

.download-file input {
    display: none;
}

.download-file label {
    cursor: pointer;
    width: 225px;
    height: 60px;
    display: block;
    border-radius: 5px;
    font-family: "Inter-SemiBold";
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: var(--main);
}

.download-file img {
    transform: rotate(270deg);
}

.additional input {
    display: none;
}

.additional input:checked+.additional__fake-checkbox {
    background-color: var(--main);
    background-image: url(../image/check.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

.additional__fake-checkbox {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 50%;
    border: 1.5px solid var(--main);
}

.additional label {
    display: flex;
    align-items: center;
    gap: 19px;
}

.additional p {
    margin-bottom: 15px;
}

.additional label+label {
    margin-top: 20px;
}

.additional label input {
    margin: 0;
}

.form__submit {
    width: 225px;
    height: 60px;
    display: block;
    border-radius: 5px;
    font-family: "Inter-SemiBold";
    color: #FFF;
    cursor: pointer;
    border: none;
    margin: 38px auto 0;
    background-color: var(--main);
}

.footer {
    font-family: "Inter-Regular";
    line-height: 19px;
    text-align: center;
    color: #BDBDBD;
    padding-bottom: 25px;
}

/* burger menu */
.menu-icon-wrapper {
    /*   background: red; */
    width: 30px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu-icon {
    position: relative;
    width: 30px;
    height: 3px;
    border-radius: 21px;
    background-color: #fff;
}

.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 22.8px;
    height: 3px;
    border-radius: 21px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 22.8px;
    border-radius: 21px;

    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
    background-color: transparent;
}

.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

@media (max-width: 1140px) {
    .navigation {
        justify-content: space-between;
    }

    .form__wrapper {
        margin-top: 36px;
        display: flex;
        gap: 85px;
    }

}

@media (max-width: 820px) {
    .navigation {
        justify-content: center;
        position: absolute;
        align-items: center;
        text-align: center;
        width: 100%;
        min-height: 100vh;
        top: 0;
        left: -1000px;
        background-color: #9ba2f0;
    }

    .navigation__list {
        display: block;
    }

    .menu-icon-wrapper {
        display: flex;
        z-index: 100;
        position: relative;
    }

    .navigation__link {
        font-size: 24px;
        margin: 20px 0;
        display: inline-block;
    }

    .user {
        right: 1000px;
    }

    .navigation-active {
        left: 0;
    }

    .user-active {
        right: 20px;
    }

    .container__lg {
        border-radius: 0;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

@media (max-width: 710px) {
    .form__wrapper {
        display: block;
    }

    .content__wrapper {
        max-width: 420px;
        margin: 0 auto;
    }

    .main__title {
        font-size: 20px;
    }
}

@media (max-width: 428px) {
    .form__submit {
        width: 100%;
    }
}